<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:p="http://www.springframework.org/schema/p"
	xmlns:context="http://www.springframework.org/schema/context"
	xsi:schemaLocation="http://www.springframework.org/schema/beans
  http://www.springframework.org/schema/beans/spring-beans-3.0.xsd
  http://www.springframework.org/schema/context
  http://www.springframework.org/schema/context/spring-context-3.0.xsd">

	<bean id="beforeAdvice" class="_aop.step05.staticMethodPointcut.BeforeAdvice" />
	<bean id="horsemanTarget" class="_aop.step05.staticMethodPointcut.Horseman" />
	<bean id="swordmanTarget" class="_aop.step05.staticMethodPointcut.Swordman" />
	<bean id="advisor" class="_aop.step05.staticMethodPointcut.StoragePointcutAdvisor"
		p:advice-ref="beforeAdvice" />
	
	<bean id="regexpAdvisor" class="org.springframework.aop.support.RegexpMethodPointcutAdvisor"
		p:advice-ref="beforeAdvice"
		p:patterns=".*chop*" />
	
	<bean id="horseman" class="org.springframework.aop.framework.ProxyFactoryBean"
		p:target-ref="horsemanTarget"
		p:interceptorNames="advisor"
		p:proxyTargetClass="true" />
	<bean id="swordman" class="org.springframework.aop.framework.ProxyFactoryBean"
		p:target-ref="swordmanTarget"
		p:interceptorNames="advisor"
		p:proxyTargetClass="true" />
	
	<bean id="horseman1" class="org.springframework.aop.framework.ProxyFactoryBean"
		p:target-ref="horsemanTarget"
		p:interceptorNames="regexpAdvisor"
		p:proxyTargetClass="true" />
	<bean id="swordman1" class="org.springframework.aop.framework.ProxyFactoryBean"
		p:target-ref="swordmanTarget"
		p:interceptorNames="regexpAdvisor"
		p:proxyTargetClass="true" />
</beans>