<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:p="http://www.springframework.org/schema/p"
	xmlns:context="http://www.springframework.org/schema/context"
	xsi:schemaLocation="http://www.springframework.org/schema/beans
  http://www.springframework.org/schema/beans/spring-beans-3.0.xsd
  http://www.springframework.org/schema/context
  http://www.springframework.org/schema/context/spring-context-3.0.xsd">

	<bean id="waiterTarget" class="_aop.step07.controlFlowPointcut.Waiter" />
	<bean id="greetingBefore" class="_aop.step07.controlFlowPointcut.GreetingBeforeAdvice" />
	
	<!-- 流程切面配置 -->
	<!-- ControlFlowPointcut:第一个构造函数指定一个类,第二个构造函数指定一个类和某一个方法 -->
	<bean id="controlFlowPointcut" class="org.springframework.aop.support.ControlFlowPointcut">
		<constructor-arg type="java.lang.Class" value="_aop.step07.controlFlowPointcut.WaiterDelegate" />
		<constructor-arg type="java.lang.String" value="service" />
	</bean>
	<bean id="controlFlowAdvisor" class="org.springframework.aop.support.DefaultPointcutAdvisor"
		p:pointcut-ref="controlFlowPointcut"
		p:advice-ref="greetingBefore" />
	<bean id="waiter2" class="org.springframework.aop.framework.ProxyFactoryBean"
		p:target-ref="waiterTarget"
		p:interceptorNames="controlFlowAdvisor"
		p:proxyTargetClass="true" />
</beans>